body{
  background: url(../img/paisaje.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.principal{
  background-color: rgba(255, 255, 255, 0.8);
}

.barra-busqueda{
  padding: 20px;
}

.barra-navegacion{
  margin-left:7px;
  margin-right: 7px;
}

.callout{
  border: none;
}

.columna-principal{
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.imagen img{
  height: 100px;
}

.secundaria{
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
}

.barra-navegacion-2{
  margin-left:14px;
  margin-right: 14px;
}

.comentario{
  margin-top: 70px;
}

.comentario img{
  height: 50px;
}

.comentario-2 img{
  height: 50px;
}

h6{
  color: red;
}
